extends layout

block content
	if(survey)
		if(doneSurvey)
			form.form-profile.form-horizontal(role='form')
				.modal.fade.no-trigger
					.modal-dialog
						.modal-content
							.modal-header
								h4.modal-title Thank You
							.modal-body
								p Thank you for completing this survey.
							.modal-footer
								a.btn.btn-info(href='/surveyapp/') Close
								a.btn.btn-info(href='/surveyapp/survey/#{id}') Start
		h2 Please complete this survey
		form(action='/surveyapp/submitSurvey/' + id, method='post', id="survey", data-surveystarted='false')
			h3 #{collection.surveyName}
			h4 Owner: #{collection.surveyOwner}
			for q in collection.questions
				h5 Question: #{q.questionName}
				if(q.type === 'checkbox')
					for a in q.answerArray
						input(type='checkbox', name='#{q.questionName}', value='#{a}')
						| #{a}
				else if(q.type === 'radio')
					for a in q.answerArray
						input(type='radio', name='#{q.questionName}', value ='#{a}')
						| #{a}
				else if(q.type === 'select')
					select(name='#{q.questionName}')
						for a in q.answerArray
							option #{a}
				else if(q.type === 'text')
					input(type='text', name='#{q.questionName}')
				else if(q.type === 'textarea')
					textarea(name='#{q.questionName}')

			br
			input(class="btn" type="submit", value="Submit")
	else
		h2 Preview your survey
		h3 #{collection.surveyName}
		h4 Owner: #{collection.surveyOwner}
		for q in collection.questions
			h5 Question: #{q.questionName}
			if(q.type === 'checkbox')
				for a in q.answerArray
					input(type='checkbox', name='#{q.questionName}', value='#{a}')
					| #{a}
			else if(q.type === 'radio')
				for a in q.answerArray
					input(type='radio', name='#{q.questionName}', value ='#{a}')
					| #{a}
			else if(q.type === 'select')
				select
					for a in q.answerArray
						option #{a}
			else if(q.type === 'text')
				input(type='text')
			else if(q.type === 'textarea')
				textarea
		br
		a.btn.btn-primary(href='/surveyapp/my-surveys') Back
