extends layout

block content
    .row.top-buffer
        .col-sm-8
            .panel.panel-default
                .panel-heading My Teams

                if(yourTeams == null)
                    .panel-body
                        p Your account is not associated with any teams. You can create a team by using the form below.

                if(yourTeams)
                    .list-group
                        for result in yourTeams
                            if(result.teamOwner === user.username)
                                a.list-group-item(href='/surveyapp/teams/#{result._id}')
                                    span.badge #{result.teamOwner}
                                    | #{result.teamName}
                            else
                                span.list-group-item
                                    span.badge #{result.teamOwner}
                                    | #{result.teamName}

        .col-sm-4
            form.form-inline.form-validetta(role='form', action='/surveyapp/teams', method='post')

                if(message != undefined)
                    .alert.alert-danger #{message}
                .panel.panel-info
                    .panel-heading Create a new team
                    .panel-body
                        .input-group
                            input.form-control.input-left(type='text',name='teamName',placeholder='Enter team name', data-validetta="required")
                            span.input-group-btn
                                button.btn.btn-success#btn-create(type='submit') Create
