extends layout

block content
    <!-- #{team} -->
    <!-- #{surveys} -->
    .row.top-buffer
        .col-sm-12
            h3 Team name: #{team.teamName}
            h5 Team owner: #{team.teamOwner}

    .row.top-buffer
        .col-sm-6
            .panel.panel-default
                .panel-heading Survey List
                    a.btn.btn-xs.btn-info.pull-right(href='/surveyapp/new-survey') New Survey

                if(team.survey.length == 0)
                    .panel-body
                        p You do not have any surveys to display yet. Would you like to create one?

                else
                    .list-group
                        for i in surveys
                            a.list-group-item(href='/surveyapp/new-survey/#{i._id}')
                                | #{i.surveyName}

        .col-sm-6
            if(message != undefined)
                .alert.alert-danger.alert-dismiss.fade.in
                    button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
                    | #{message}

            .panel.panel-default
                .panel-heading Member List
                    if(team.teamOwner === user.username)
                        button.btn.btn-xs.btn-info.pull-right.trigger-btn(data-toggle="modal", data-target=".trigger") Add Member

                if(team.teamUsers.length == 0)
                    .panel-body
                        p You do not have any surveys to display yet. Would you like to create one?

                else
                    .list-group
                        for i in team.teamUsers
                            //- if(!result.deleteFlag)
                            a.list-group-item(href='/surveyapp/user/#{i}')
                                if(i === team.teamOwner)
                                    span.badge.badge-success owner
                                else
                                    span.badge member
                                | #{i}

    .move-modal
        .modal.fade.trigger
            .modal-dialog
                form(action='/surveyapp/teamQuery/#{team._id}', method='post')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                            h4.modal-title Add a New User
                        .modal-body
                            .form-group
                                label(for="addMember") Enter the username or email address of the member you'd like to add:
                                input.form-control#addMember(type='text', name='userQuery', placeholder='username or email')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit', name='Search', value='#{team.teamName}', id ="Search") Add

    script.
        var triggerModal = document.querySelector('.trigger-btn')
        triggerModal.onclick = function (){
            var modal = document.querySelector('.move-modal')
            while (modal.childNodes.length >0){
                document.body.appendChild(modal.childNodes[0])
            }
        }


